header {
  background-color: #161b22;
  width: 100%;
  height: 70px;
  
  white-space: nowrap;
  position: relative;
  align-items: center;
  align-items: center;
}
#headertext{
    display: inline;
}
header > * {
  position: relative;
}
#githubicon {
  width: 30px;
  padding-left: 23px;
}
path {
  fill: #8a939d;
}
.suggestionSVG {
  fill: white;
}
ul {
  list-style: none;
  display: inline-block;
}
.textHeader {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}
.textHeader > p {
  color: white;
}
.textHeader > p:hover {
  color: #bab5a8;
}
