.form{
    margin:3rem;
}
.form > h1{
    color: green;
}
.form > div{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.form > div > input{
    width: 20rem;
    border-color: blue;
}
.libro{
    border-bottom: 2px solid;
}